* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;

	font-family: 'Inter', 'Roboto', sans-serif;

	&:focus {
		outline: none;
	}
}

body {
	height: 100vh;
	overflow: hidden;

	display: grid;
	place-items: center;
}

input {
	$input-font: 17px;

	font-size: $input-font;
	position: relative;
	color: #333;
	width: 100%;
	border-radius: 2.5px;
}
