@import '../../../scss/config.scss';

$transition-duration: 0.4s;

.container {
	position: relative;
	width: 100%;
}

.input {
	position: relative;
	width: 100%;
	margin-bottom: 35px;
	min-width: 240px;

	&-box {
		border: 1px solid rgba(#ccc, 0.5);
		padding: 7px 14px;
		transition: 0.4s;
		background: #fafafa;
		font-size: 1em;

		&:focus,
		&:valid {
			background: #fff;
		}

		& ~ .focus-border {
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 2px;
				background-color: $main-color;
				transition: 0.3s;
			}

			&:after {
				top: auto;
				left: auto;
				bottom: 0;
				right: 0;
			}

			i:before,
			i:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 0;
				background-color: $main-color;
				transition: 0.4s;
			}

			i:after {
				left: auto;
				top: auto;
				right: 0;
				bottom: 0;
			}
		}

		&:focus ~ .focus-border:before,
		&:focus ~ .focus-border:after,
		&.has-content ~ .focus-border:before,
		&.has-content ~ .focus-border:after {
			width: 100%;
			transition: 0.3s;
		}

		&:focus ~ .focus-border i:before,
		&:focus ~ .focus-border i:after,
		&.has-content ~ .focus-border i:before,
		&.has-content ~ .focus-border i:after {
			height: 100%;
			transition: 0.4s;
		}

		& ~ label {
			position: absolute;
			left: 15px;
			width: 100%;
			top: 50%;
			transform: translate(0, -50%);
			color: rgba(#222, 0.5);
			transition: 0.3s;

			pointer-events: none;
		}

		&:focus ~ label,
		&.has-content ~ label {
			$label-distance: -12px;

			top: $label-distance;
			left: 0;
			font-size: -$label-distance;
			color: $main-color;
			transition: 0.3s;
		}
	}
}

.rule {
	$font-size: 0.8em;

	position: absolute;
	opacity: 0.5;
	top: -$font-size - 0.75em;
	right: 0;
	font-size: $font-size;
}
